body {
    background-color : #F3F7FA;
}
.m-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #767676;
  text-align: center;
  background-color : #F3F7FA;
  height : 80px;
}
.m-main {
    background-color : #fff;
    padding-top : 20px;
    padding-bottom: 60px;
    min-height : 600px;
}
