<div class="m-pop">
    <div class="m-pop-hd"><a href="javascript:;" class="hd-close js_close">&times;</a><h4>${title}</h4></div>
    <div class="m-pop-bd ">
        <div class="js_content">
        </div>
    </div>
    <div class="m-pop-ft">
        <div class="btn-wrap">
            <button class="btn-cfr js-cfr" >完成</button>
            <button class="btn-cancel js-cancel ">取消</button>
        </div>
    </div>
</div>'
