<div class="m-dlg-form m-odr-dt-dlg">
            <div class="m-odr-dt">
                <div class="dt-inner">
                    <div class="row row-hd">
                        <div class="col ord-date">日期</div>
                        <div class="col ord-no">订单号</div>
                        <div class="col u-stime">预约时间</div>
                        <div class="col prd-name">商品名</div>
                        <div class="col u-name">用户名</div>
                        <div class="col u-phone">用户手机</div>
                        <div class="col u-person">分配员工</div>
                    </div>
                    <ul>
                       $${list_html} 
                    </ul>
                </div>
            </div>
    </div>'
