 <div class="form-group ai-row">
    <label class="col-sm-2 control-label">段落</label>
    <div class="col-sm-6">
        <textarea class="form-control m-p-textarea" row =8 placeholder="段落内容" ></textarea>
    </div>
    <div class="col-sm-4 add-btns" >
        <a href="#" class="add-del" data-type="3"><i class="fa fa-times"></i>删除</a>
    </div>
</div>

