
<table class="table  table-hover general-table">
<thead>
<tr>
    <th>商品ID</th>
    <th>商品名称</th>
    <th>现价</th>
    <th>原价</th>
    <th>服务时间</th>
    <th>状态</th>
    <th class="ai-selected-all">
        <label>
        <input type="checkbox" value="${id}" name="select_prd" id="sel_prd_${id}"/>
        全选
        </label>
    </th>
</tr>
</thead>
<tbody>
</tbody>
</table>


