<div class="ai-prd-box m-st-ps">
    <div class="twt-feed blue-bg">
        <div class="fa fa-twitter wtt-mark"></div>
        <a href="#">
            <img alt="" src="${prd_img}">
        </a>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li ><span>名称:</span>${prd_name}</li>
        <li><span>价格:</span> ${prd_pr} <span>原价:</span> ${prd_old_prd}</li>
        <li><span>服务时长:</span>${prd_dur}</li>
        <li><span>所属商家:</span>${prd_shop_name}</li>
    </ul>                                               
</div>
