 <div class="row m-subject-section">
    <div class="col-lg-12">
        <div class="panel clearfix">
            <div class="panel-heading"> 
                <span class="m-tools pull-right">
                    <a href="javascript:;" class="fa fa-times ai-st-del"></a>
                 </span>
                ${key}内容模块 
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <section class="panel profile-nav ai-ps-box" >
                    </section>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-horizontal bucket-form">
                            <div class="form-group ai-row m-subject-item-title">
                                <label class="col-sm-2 control-label ">大标题</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control ai-st-title">
                                </div>
                            </div> 
                            <div class="form-group ai-row m-subject-item-title m-sub-title hide">
                                <label class="col-sm-2 control-label ">副标题</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control ai-sub-title">
                                </div>
                            </div> 
                            <div class="form-group ai-row ">
                                <div class="col-sm-12" >
                                    <div class="m-st-add-btns ai-add-btns" >
                                        <a href="#" class="add-title" data-type="1"><i class="fa fa-file-text"></i>添加小标题</a>
                                        <a href="#" class="add-p" data-type="2"><i class="fa fa-file-text"></i>添加段落</a>
                                        <a href="#" class="add-img" data-type="3"><i class="fa fa-picture-o"></i>添加图片</a>
                                    </div>
                                </div>
                            </div>

                            <div class="m-subject-items ai-content-item">
                            </div>
                            
                            <div class="subject-item-btns">
                                <button type="submit" class="btn btn-primary ai-submit">保存</button>
                            </div>
                        </form>
                </div>
            </div>    
        </div> 
    </div>
</div> 

