<div class="m-map">
    <div class="m-map-hd">
        <a href="javascript:;" class="close-ico ai-close">&times;</a>
        <h4>地图标点(标点后点击图标右键菜单保存)</h4>
    </div>    
    <div class="m-map-con">
        <div class="map-aside">
            <div class="aside-top">
                <div class="m-small-search">
                     <div class="sch-wrap"><input type="text" class="ai-sch" name="" value="" />
                     <button type="submit" class="sch-btn">搜索</button></div>
                </div>
            </div>
            <div class="aside-ct">
                <div class="rs-hd">
                    <a href="javascript:;" class="clear-ico ai-clear">清空</a>
                    <h3>搜索结果</h3>
                </div>
                <div class="map-rs ai-panel">

                </div>
            </div>
        </div>
        <div class="map-main" >
            <div class="map-ct">
                <div class="map-box"></div>
            </div>   
        </div>
    <div>    
</div>
