 <tr>
    <td>
        ${prd_id}
    </td>    
    <td>
        ${name}
    </td>    
    <td>
        ${shop_name}
    </td>    
    <td>
        ${create_time}
    </td>
    <td>
        {@if online == 2}
            上架
        {@else if online == 1}
            下架
        {@else if online == 3}
            删除
        {@/if}
    </td>
    <td>
        {@if status == 0 }
            未审核
        {@else if status == 1 }
            审核通过
        {@else if status == 3}
            审核未通过
        {@/if}
    </td>
    <td>
        <a href="/m/prd?id=${prd_id}" class= "glyphicon glyphicon-pencil"></a>
    </td>
</tr>

